/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header nav > * {
  float: left;
  width: 20%;
  list-style: none;
}

header nav li{
  float: left;
  width: 33%;
  padding-right: 30%;
}

header nav ul{
  padding-left: 0px;
}

header nav li a{
  text-decoration: none;
  color: blue;
  size: 15px;
  font-weight: 600;
}

main > section {
  width: 50%;
  float: left;
  height: 600px;
}
img{
  width: 75%;
  padding-left: 15%;
}

main > section h1, main section img{
  margin-top: 200px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
