/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1{
  display: flex;
  justify-content: center;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1rem;
}
h2, h3{
  margin-left: 10rem;
}

img{
  display: block;
  margin: 0 auto;
  height: 10rem;
}

.hidden-element {
    display: none;
}

.center {
  display: flex;
  justify-content: space-around;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
