/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/
header {
  background: rgb(205, 222, 230);
  height:  100px;
  margin-top: 0px;
  display: flex;
}

header h2{
  width: 25%;
  margin-top: 0px;
  padding: 15px 0px 0px 100px;
}

header ul{
  float: left;
  list-style-type: none;
  display: flex;
}

header ul li a{
  text-decoration: none;
  padding-right: 10px;
  color: gray;
  font-size: 15px;
  font-weight: 600;
}

header button{
  height: 30px;
  margin: 15px;
  background: black;
  color: white;
  width: 80px;
  margin-left: 150px;
}

main > section{
  clear: both;
  text-align: left;
  background: rgb(205, 222, 230);
  float: left;
}

section#top{
  background: rgb(205, 222, 230);
  padding-left: 10%;
}

section#other{
  width: 35%;
}

section#other span{
  font-size: 12.5px;
  color: gray;
}

section#other h2{
  font-size: 35px;
  margin-top: 10px;
}

section#other p{
  font-size: 15px;
}

section img#computer{
  float: left;
  width: 45%;
}

section ul{ 
  list-style-type: none;
  float: left;
  display: flex;
  text-align: left;
  padding: 0px 100px 50px 0px;
}

section ul li{
  width: 25%;
  padding-left: 30px;
}

section ul li a{
  text-decoration: none;
  padding-right: 10px;
  color: black;
  font-size: 15px;
  font-weight: 600;
}

section#bottom{
  clear: both;
  background:white;
  padding-left: 10%;
}

section#bottom h1{
  padding-top: 50px;
  width: 35%;
  font-size: 40px;
}

section#bottom p{
  margin-bottom: 0px;
  padding-bottom: 35px;
  width: 35%;
  font-size: 15px;
}
