/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 100px;
  height: 265px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li{
  width: 96.3px;
  height: 65px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* These colors are used for recognition the train*/

#purple{
  background: rgba(241,63,247,1);
}
#green{
  background: rgba(0,253,81,1);
}
#blue{
  background: rgba(0,255,255);
}
#orange{
  background: rgba(255, 165, 0, 1);
}
