/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 55px;
  background: black;
  color: white;
}

nav *{
  float: left;
  width: 10%;
  color: white;
  display: block;
}

nav ul{
  width: 50%;
}

nav ul li a{
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  width: fit-content;
}

nav > a{
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  width: fit-content;
  padding-top: 15px;
}

section#UAE{
  background: gray;
  padding-left: 15px;
}

section#CANANDA{
  display: flex;
  align-items: flex-end;
}

section#CANADA span{
  margin-left: 5%;
  padding-left: 1%;
  border-left: 4px solid blue;
}

section#HEALTH span{
  margin-left: 5%;
  padding-left: 1%;
  border-left: 4px solid red;
}

section#WORKLIFE span{
  margin-left: 5%;
  padding-left: 1%;
  border-left: 4px solid cyan;
}

section#CULTURE span{
  margin-left: 5%;
  padding-left: 1%;
  border-left: 4px solid gray;
}

form{
  padding-top: 15px;
}

main + section section{
  width: 33.3333%;
  float: left;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

main > section{
  width: 50%;
  height: 500px;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

main section + section section{
  width: 50%;
  height: 250px;
  float: left;
  border: 1px solid black;
}

main section + section section h3{
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
}

h3#NEWS{
  font-size: 25px;
  font-weight: 600;
  padding-top:35px;
  padding-left: 20px;
}

main h2{
  padding-left: 20px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
