/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

section{
  clear: both;
  text-align: center;
}

img{
  float: left;
}

ul{
  margin: 0px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  background: white;
  float: left;
}

img.logo{
  padding: 5%;
}

header nav{
  width: 100%;
  display: flex;
  justify-content: flex-end; /* or space-between, etc. */
}

header nav ul li{
  text-decoration: none;
  list-style-type: none;
  float: left;
  padding: 0% 5%;
}

header nav ul li a{
  color: black;
  font-size: 15px;
  font-weight: 600;
}

header nav a{
  float: right;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
}

section.services{
  width: 33%;
  float: left;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
