/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

section{
  clear: both;
}

img{
  float: left;
}

ul{
  margin: 0px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  background: white;
  float: left;
}

img.logo{
  padding: 5%;
}

header nav{
  float: left;
}

header nav ul li{
  text-decoration: none;
  list-style-type: none;
  float: left;
  padding: 5% 0;
}

header nav ul li a{
  color: black;
  font-size: 15px;
  font-weight: 600;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
