/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

section{
  clear: both;
  text-align: center;
}

img{
  clear: both;
}

ul{
  margin: 0px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  background: white;
  display: flex;
  float: left;
  width: 100%;
}

img.logo{
  padding: 10px 15px;
}

header nav{
  width: 100%;
  display: flex;
}

header nav ul{
  display: flex;
  justify-content: center;
}

header nav ul li{
  text-decoration: none;
  list-style-type: none;
  float: left;
  padding: 0px 20px;
}

header nav ul li a{
  color: black;
  font-size: 15px;
  font-weight: 600;
}

header nav a{
  justify-items: flex-end;
  float: right;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
}

section.top > h1{
  float: left;
  text-align: left;
  width: 50%;
  margin-left: 250px;
  font-size: 80px;
  font-weight: 600;
}

section.top > p{
  float: left;
  text-align: left;
  width: 75%;
  margin-left: 250px;
  font-size: 25px;
  font-weight: 500;
}

section.top >a{
  float:left;
  margin-left: 250px;
  margin-bottom: 150px;
}

section.side{
  background: black;
  color: white;
  width: 300px;
  height: 200px;
  margin: 100px 0px 150px 250px;
}

section.side a{
  background: white;
  padding: 15px;
  color: black;
  text-decoration: none;
  list-style-type: none;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 300;
}

section.side p.info{
  padding-top: 15px;
  padding-bottom: 50px;
}

section.display{
  margin: 0px 250px;
}

section.services{
  width: 33%;
  float: left;
  padding: 0px 25px;
}

section a.services_link{
  background: black;
  padding: 15px;
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
  font-weight: 300;
}

section section.display{
  float:left;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  padding: 0px 50px;
}

section.services img{
  width: 85%;
  display: block;
  margin: 0 auto;
}

section.words{
  text-align: left;
  justify-content: flex-start;
  align-items: start;
  padding-right: 150px;
}

section.Momentum{
  display: flex;
  padding: 50px 150px;
  background: grey;
}

section.Momentum section.words h2{
  font-size: 50px;
  font-weight: 600;
  width: 100%;
}

section.Momentum p{
  width: 100%;
  font-size: 20px;
  padding-bottom: 20px;
}

section.Momentum a{
  background: black;
  padding: 20px 40px;
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  font-weight: 300;
  display:inline-block;
  margin-bottom: 50px;
}

section.Momentum img{
  width: 40%;
  justify-content: flex-end;
  align-items: flex-start;
  object-fit: contain;
}

section.artists{
  padding: 15px 150px;
  display: flex;
}

section.artists section{
  justify-content: start;
  width: 33%;
  margin: 0 auto;
}

section.artists section img{
  width: 75%;
  text-align: center;
}

section.artists section p{
  padding: 15px 0px;
  background: black;
  color: white;
  margin: 0 auto;
}

section.offer{
  background-color: lightgrey;
  padding: 0px 150px 50px 150px;
  text-align: left;
}

section.offer h3{
  margin-top: 50px;
  padding-top: 50px;
  font-size: 25px;
  font-weight: 400;
}

section.offer p{
  font-size: 50px;
}

section.offer a{
  display: block;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 20px 10px;
  width: 250px;
  text-align: center;
}

section.bottom h2{
  font-size: 50px;
  font-weight: 600;
}

section.images{
  padding: 50px 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

section.images img{
  padding: 10px 10px;
  width: 25%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
