*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 25px;
    width: 100%;
    min-height: 100vh;
}

.container{
    display : flex;
    width: 100%;
    height : 100vh;

    /* To place some gap between boxes*/
    gap : 20px;

    flex-direction: row;
    justify-content: flex-start;
}

[class ^="box-"]{
    width: 140px;
    height: 140px;
    background-color: skyblue;
    border: 2px solid black;

/*To view the letter better*/
    font-size: 25px;

/* Place text at center*/
    display: flex;
    justify-content: center;
    align-items: center;
}